@use 'variables';
@keyframes glitch{
    2%, 64%{
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px, -2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
} 
    62%{
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBottom{
    2%,64%{
        transform: translate(-2px, 0);
        }
    4%,60%{
        transform: translate(-2px, 0);
    }
    62%{
        transform: translate(-22px, 5px) skew(21deg);
    }
}

@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 variables.$tercerColor;
    }
}

@keyframes moverNave {
    0%{
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moverNave2 {
    0%{
        transform: translateY(-100%);
    }    
    100% {
        transform: translateY(0);
    }
}