@use 'variables';
@use 'animaciones';
@use 'medias';



*{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
$primerColor : #ffffff;
$segundoColor : #1d1d1b;
$tercerColor : #e71d73;
$cuartoColor : #572484;
$gradiente : linear-gradient(90deg, rgba(231,29,115,1) 0%, rgba(87,36,131,1) 60%);

body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-120deg, #e71d73 50%, #572483 50%);
    bottom:0;
    left:0;
    opacity:.5;
    position:fixed;
    right:0;
    top:0;
    z-index:-1000;
    overflow: hidden;
    width: 200%;

}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
    transform:translateX(-50%);
    }
    100% {
    transform:translateX(0%);
    }
}

header{

    align-items: center;
    margin: auto;
    align-content: center;
    position: fixed;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; 
    z-index: 99;
    background-color: variables.$primerColor;
    @include medias.mediaQ(768px){
        height: 120px;
        }

    #header_container{
        display: grid;
        grid-template-columns: 1fr 180px 1fr;

        @include medias.mediaQ(768px){
        grid-template-columns: 1fr 140px 1fr;
        height: 100%;
        }

        .button_container{
            width: 148px;
            align-self: center;
            justify-self: end;
            clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);

            @include medias.mediaQ(768px){
            width: 120px;
            min-width: 100px;
            }


            &.seg{
                justify-self: start;
                clip-path: polygon(0% 0%, 90% 0, 100% 100%, 0% 100%);
                .button_slider{
                    text-align: start;
                }
            }
            
            .button_slider {
                
                width: 100%;
                height: 30px;
                background-color: variables.$cuartoColor;
                text-align: end;
                margin-bottom: 5px;
                transition: 0.35s;

                @include medias.mediaQ(768px){
                    height: 25px;

                    }

                &:hover , &:focus{
                    box-shadow: inset 0 0 0 1em variables.$tercerColor;
                }

                a{
                    color: variables.$primerColor;
                    text-decoration: none;
                    padding: 10px;
                    line-height: 30px;
                    @include medias.mediaQ(768px){
                        font-size: .8em;
                        line-height: 25px;
                        }
                }
            }
        }
        .img_container{
            display: flex;
            justify-self: center;
            @include medias.mediaQ(768px){
                align-items: center;
                }
            img{
                width: 150px;
                height: 150px;
                animation: glitch 1s linear infinite;
                
                @include medias.mediaQ(768px){
                    width: 120px;
                    height: 120px;
                    }

            &:before, &:after{

                content: attr(title);
                position: absolute;
                left: 0;
            }
            &:before{
                animation: glitchTop 1s linear infinite;
                clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
                -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            &:after{
                animation: glitchBottom 1.5s linear infinite;
                clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                -webkit-animation-path:  polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
            }
            
        }
    }

}

.container{
    background-color: $cuartoColor;
    width: 800px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;

    @media screen and (max-width: 1000px) {
        width: 300px;
        min-width: 300px;
    }

    .primerLinea{
        display: flex;
        position: relative;
        width: 100%;
        height: 50px;
        background-color: $cuartoColor;
        border-top-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 0px;
        border-left-width: 5px;
        border-style: solid;
        border-color: $cuartoColor;

        .fecha{
            background-color: $primerColor;
            width: 100%;
            height: 50px;
            clip-path: polygon(0% 0%, 29% 0%, 34% 100%, 0% 100%);
            position: absolute;
            

            h3{
                width: 30%;
                float: left;
                line-height: 50px;
                color: $cuartoColor;
                font-weight: 900;
            }
        }
    
        .nombreDelEquipo{
            width: 100%;
            height: 50px;
            background-color: $primerColor;
            clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 35% 100%);
            position: absolute;
            align-items: center;
            h3{
                width: 70%;
                float: right;
                line-height: 50px;
                color: $cuartoColor;
                font-weight: 900;
                @media screen and (max-width: 1000px) {
                    font-size: 0.8em;
                }
            }
            
        }
    }
    
    .segundaLinea{
        background-color: $primerColor;
        width: 100%;
        height: 50px;
        color: $cuartoColor;
        border-top-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 5px;
        border-style: solid;
        border-color: $cuartoColor;
        position: relative;

        .titulo{
            height: 50px;
            position: absolte;
            h3{
                width: 100%;
                line-height: 40px;
                color: $cuartoColor;
                font-weight: 900;

                @media screen and (max-width: 1000px) {
                    font-size: 0.8em;
                }
            }
        }
        
    }

    .tercerLinea{
        background-color: $primerColor;
        width: 100%;
        height: 500px;
        color: $cuartoColor;
        border-top-width: 0px;
        border-right-width: 5px;
        border-bottom-width: 0px;
        border-left-width: 5px;
        border-style: solid;
        border-color: $cuartoColor;
        position: relative;

        @media screen and (max-width: 1000px) {
            height: 350px;
        }

        .img-grande{
            clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
            width: 80%;
            height: 500px;
            position: absolute;
            background-color: $cuartoColor;
            
            @media screen and (max-width: 1000px) {
                height: 350px;
            }
                
            img{
                width: 100%;
                clip-path: polygon(0% 0%, 99% 0%, 54% 100%, 0% 100%);
                position: absolute;
                top: 0; left: 0;
                object-fit: cover;

                @media screen and (max-width: 1000px) {
                    height: 350px;
                    clip-path: polygon(0% 0%, 97% 0%, 71% 100%, 0% 100%)
                }
            }
            
        }

        .copete{
            width: 42%;
            height: 100%;
            padding: 20px 20px 20px 130px;
            float: right;
            text-align: end;
            line-height: 1.5em;
            display: flex;
            align-items: center;

            @media screen and (max-width: 1000px) {
                padding: 190px 5px 5px 30px;
                line-height: 0.9;
            }
            

            p{
                font-size: 1.6em;
                font-weight: 700;
                @media screen and (max-width: 1000px) {
                    font-size: 0.7em;
                }
            }
        }
    }

    .cuartaLinea{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: $primerColor;
        color: $cuartoColor;
        border-top-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 5px;
        border-style: solid;
        padding: 20px;
        @media screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding: 5px;
        }

        .info-pri{
            padding: 5px;
            text-align: justify;
            font-size: 1.2em;
            @media screen and (max-width: 1000px) {
                font-size: 0.8em;
            }
        }

        .info-sec{
            .comentario{
                position: relative;
                display: inline-block;
                text-align: center;
                
                
                img{
                    width: 300px;
                    @media screen and (max-width: 1000px) {
                        width: 150px;
                    }
                }

                .dialogo-v{
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -65%);
                    width: 300px;
                    padding: 20px;
                    font-size: 1.4em;
                    font-weight: 800;
                    @media screen and (max-width: 1000px) {
                        width: 150px;
                        font-size: 0.7em;
                    }
                }
            }

            p{
                font-size: 1.2em;
                text-align: justify;
                @media screen and (max-width: 1000px) {
                    font-size: 0.8em;
                }
            }
        }
    }

    .quintaLinea{
        width: 100%;
        height: 50px;
        position: relative;
        top: 0; left: 0;
        background-color: $cuartoColor;
        color: $cuartoColor;
        border-top-width: 0px;
        border-right-width: 5px;
        border-bottom-width: 0px;
        border-left-width: 5px;
        border-style: solid;

        @media screen and (max-width: 1000px) {
            height: 30px;
        }

        .autor{
            width: 45%;
            background-color: $primerColor;
            clip-path:polygon(0% 0%, 70% 0%, 75% 100%, 0% 100%);
            border-top-width: 5px;
            border-right-width: 0px;
            border-bottom-width: 5px;
            border-left-width: 0px;
            
            @media screen and (max-width: 1000px) {
                width: 100%;
                height: 25px;
            }
            h3{
                color: $cuartoColor;
                text-align: start;
                line-height: 40px;
                padding-left: 20px;
                @media screen and (max-width: 1000px) {
                    line-height: 25px;
                    font-size: 0.7em;
                }
            }
        }

    }
}